alias l="ls -l" 
alias k="ls -al"
alias as="apt-cache search " 
alias au="sudo apt-get update "
alias i="sudo apt-get install -y " 
alias v="vim.gtk "
alias s=" sudo "
alias m=" more " 
alias kk=" sudo kill "
alias sv="sudo vim.gtk "
